<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <span class="navbar-toggler-icon"></span>
  <a class="navbar-brand" href="#" style="font-family: Cambria">Billing Service</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="font-family: Cambria"><a class="nav-link" routerLink="/admin/accueil">Accueil</a></li>
      <li class="nav-item active" style="font-family: Cambria"><a class="nav-link" routerLink="/admin/invoicelist" routerLinkActive="active">Consulter une facture</a></li>
      <li class="nav-item active" style="font-family: Cambria"><a class="nav-link" routerLink="/admin/productlist" >Produits</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
