<div class="bg-gradient-primary">

  <div class="container">
    <div style="background-color: white">
      <div class="container" style="padding-bottom:40%;height:350px">

        <!-- Outer Row -->
        <div class="row justify-content-center">

          <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-6 d-none d-lg-block bg-login-image"><img src="../../assets/login.jpg" style="height: 100%;width: 115%"></div>
                  <div class="col-lg-6">
                    <div class="p-5">
                      <div class="form-group row mt-6">
                      </div>

                      <div class="text-center">
                      </div>
                      <form class="user">
                        <div class="form-group">
                          <input type="text" class="form-control form-control-user"
                                 name="username"
                                 placeholder="Entrer votre username...">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control form-control-user"
                                 name="password"
                                 placeholder="Entrer votre mot de passe">
                        </div>

                        <button class="btn btn-primary btn-block" >
                          Connecter
                        </button>

                      </form>
                      <hr>
                      <div class="text-center">
                        <a class="small" href="forgot-password.html">Mot de passe oublié?</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>


    </div>

  </div>
</div>
